body
{
    background-color: black;
}

div.container
{
    display: flex;
    justify-content: space-between;
}

div.puzzle
{
    display: flex;
    width: 100%;
}

div.leftside
{
    /*Make it about 900 x 900 px*/
    min-width:  56.3rem;
    min-height: 56.3rem;
    max-width:  56.3rem;
    max-height: 56.3rem;

    display:         flex;
    justify-content: center;
    align-items:     center;

    float: left;
}

div.rightside
{
    float:       right;
    margin-left: 2rem;
    width:       100%;
}

div.rightrightside
{
    float: right;
}

div.rules
{
    color: lavender;
    overflow: hidden;
    width: 80%;
}

div.maininfo
{
    color: lavender;
}

div.puzzleinfo
{
    color: lavender;
    margin-top: 2rem;
}

div.appearence
{
    margin-top: 2rem;
}

div.solutionmatrixcalculating
{
    margin-top: 2rem;
}

progress
{
    width: 5rem;
}

label.mainLabel
{
    color: lavender;
}

input[type=checkbox] + label
{
    color: lavender;
}

select
{
    background-color: black;
    color: lavender;
}