body
{
    background-color: black;
}

div.container
{
    display: flex;
    justify-content: space-between;
}

div.puzzle
{
    display: flex;
}

div.leftside
{
    width: fit-content;
    float: left;
}

div.rightside
{
    float: right;
    margin-left: 30px;
}

div.rightrightside
{
    float: right;
}

div.rules
{
    color: lavender;
    overflow: hidden;
}

p
{
    color: lavender;
}

input[type=checkbox] + label
{
    color: lavender;
}

select
{
    background-color: black;
    color: lavender;
}