div.container
{
    display: flex;
    justify-content: space-between;
}

div.puzzle
{
    display: flex;
}

div.leftside
{
    width: fit-content;
    float: left;
}

div.rightside
{
    float: right;
    margin-left: 30px;
}

div.rightrightside
{
    float: right;
}